.add-product-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-product-form {
  display: flex;
  flex-direction: column;
}

.add-product-form .form-item {
  margin-bottom: 15px;
}

.add-product-label {
  font-weight: bold;
}

.add-product-input,
.add-product-textarea,
.add-product-submit-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-product-input[type="file"] {
  padding: 8px;
}

.add-product-textarea {
  min-height: 100px;
  resize: vertical;
}

.add-product-error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.add-product-submit-button {
    width: 150px;
    margin: 0 auto;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.add-product-form-button  {
  display:flex;
  /* margin: 0 auto; */
}


.add-product-submit-button:hover {
  background-color: #45a049;
}

.add-product-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none; /* Remove default outline */
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

    /* Customize dropdown arrow */
    appearance: none; /* Remove default arrow */
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* Custom arrow icon */
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 30px; /* Space for the arrow */
}

.add-product-select:focus {
    border-color: #0056b3; /* Custom focus border color */
    box-shadow: 0 0 0 2px rgba(0, 86, 179, 0.2); /* Custom focus shadow */
}

.add-product-select option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
}
