/* AdminProducts.css */
.admin-products-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.admin-products-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.admin-products-search-bar {
    margin-bottom: 20px;
    text-align: center;
}

.admin-products-search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.admin-products-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-products-table th,
.admin-products-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.admin-products-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.admin-products-table img {
    width: 50px;
}

.admin-products-table button {
    padding: 5px 10px;
    background-color: #4CAF50;
    margin:0 5px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-products-table button:hover {
    background-color: #45a049;
}

.admin-products-loading,
.admin-products-no-data {
    text-align: center;
    margin-top: 20px;
}

.admin-products-pagination{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
}

.admin-products-pagination button {
    border: none;
    padding: 10px 0px;
    width: 50px;
    cursor: pointer;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.admin-products-pagination button.admin__page {
    background-color: #00bbbb;
    color: white;
}

.admin-products-pagination button:hover {
    background-color: #0056b3;
}