.cart-container {
    max-width: 800px; /* Adjust as needed */
    margin: auto; /* Centering the container by default */
    padding: 20px;
    
    
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}

.cart-item img {
    max-width: 100px;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

.quantity-control {
    margin-top: 10px;
}

.subtotal {
    margin-top: 20px;
    text-align: center; 
    font-size: 18px; 
}

.proceed-button {
    margin-top: 20px;
    marign-left:20px;
    padding: 12px 24px; /* Adjust padding */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 4px;
    font-size: 16px; /* Adjust font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.proceed-button:hover {
    background-color: #0056b3; /* Button hover background color */
}

/* Adjustments when cart is empty */
.cart-container.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart-container.empty > p {
    margin: 0;
}
