.homepage__home-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    min-height: 100vh; 
}

.homepage__product-item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px;
    max-width: calc(25% - 20px);
    max-height: 450px;
    min-width: 300px;
}

.homepage__product-item:hover {
    transform: translateY(-5px);
}

.homepage__product-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
}

.homepage__product-item h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.homepage__product-item p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.homepage__product-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.homepage__product-item button:hover {
    background-color: #0056b3;
}

.homepage__pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
}

.homepage__pagination button {
    border: none;
    padding: 10px 0px;
    cursor: pointer;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.homepage__pagination button.homepage__active {
    background-color: #00bbbb;
    color: white;
}

.homepage__pagination button:hover {
    background-color: #0056b3;
}

.homepage__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.homepage__modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.homepage__modal-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.homepage__modal-content h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

.homepage__modal-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.homepage__modal-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.homepage__modal-content button:hover {
    background-color: #0056b3;
}

.homepage__modal .homepage__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.homepage__modal .homepage__close:hover {
    color: #ff0000;
}

.homepage__search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.homepage__search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.homepage__search-bar input:focus {
    border-color: #4CAF50;
}
